h1 {
    text-align: center;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#tablaDatos {
    margin-top: 20px;
}
body {
    background-image: url(https://img.freepik.com/vector-gratis/fondo-textura-acuarela-decorativa-verde-suave_1055-8856.jpg);
    background-size: cover;
}
.contenedor {
    margin-bottom: 20px;
    padding: 40px;
    align-items: center;
    text-align: center;
}
.principal {
    border: 10px solid #000;
    border-radius: 20px;
    width: 400px;
    text-align: center;
    margin-left: 35%;
}
.button_more, .botonDel {
    border: 5px solid darkgreen;
    background-color: rgb(9, 224, 45);
    border-radius: 10px;
    cursor: pointer;
}
.edit, .borr {
    border: 5px solid darkblue;
    background-color: rgb(9, 66, 224);
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}